%div{class: "chat_body"}
  %span{class: "user_name"}
    Ryota
  %span{class: "update_at"}
    2017/10/27 06:06:06
  %div{class: "message"}
    ほげほげほげ
%div{class: "chat_body"}
  %span{class: "user_name"}
    Ryota
  %span{class: "update_at"}
    2017/10/27 01:10:01
  %div{class: "message"}
    ほげほげほげ
