-# %div.chat_body
-#   %span.user_name
-#     = message.user.name
-#   %span.update_at
-#     = format_posted_time(message.created_at)
-#   %div.message
-#     - if message.content.present?
-#       %div.message__content
-#         = message.content
-#     = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
