%div{class: "side_bar"}
  %div{class: "side_bar__user"}
    %span{class: "side_bar__user__name"}
      -# = @user.name
      Hoge
    %div{class: "side_bar__user__icon"}
      = link_to root_path do
        %i.fa.fa-pencil-square-o.fa-lg
      = link_to root_path do
        %i.fa.fa-cog.fa-lg

  %div{class: "side_bar__groups"}
    -# - if @groups.present?
    -#   - @groups.each do |group|
    -#     = render partial: "group", locals: {group: group}
    = render "group"
