.info{
  width: 100vw;
  height: 30px;
  background: #38AEF0;
  text-align: center;
  &__message{
    color: #ffffff;
    line-height: 33px;
  }
}

.side_bar{
  width: 300px;
  height: 100vw;
  background: #2f3e51;
  color: #ffffff;
    &__user{
      background: #253141;
      height: 62px;
      padding: 38px 20px 0px;
      &__name{
        font-size: 16px;
        font-weight: bold;
      }
      &__icon{
        float: right;
        .fa{
          color: #ffffff;
        }
      }
    }
    &__groups{
      padding: 0px 20px;
      .group{
        height: 56px;
        padding: 20px 0px 20px;
        &__name{
          font-size: 15px;
        }
        &__last_message{
          font-size: 11px;
        }
      }
    }

}
