.side_bar{
  float: left;
  width: 300px;
  height: 100vw;
  background: #2f3e51;
  color: $w_color;
  position: fixed;
  top: 131px;
    &__groups{
      .group{
        height: 46px;
        padding: 20px 20px 20px;
        &__name{
          font-size: 15px;
        }
        &__last_message{
          font-size: 11px;
        }
      }
    }

}
